<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6" style="padding: 30px 30px 0px 30px !important;">
        <mat-card-header>
          <mat-card-title style="font-size: 25px;">
            Books
          </mat-card-title>
        </mat-card-header>
      </div>
      <div class="col-sm-6" style="padding: 30px 10px 0px 10px !important;">
        <div class="float-right" style="text-align: right;">
          <button type="button" style="background-color: #D8263B; border: none;" class="btn btn-primary"
            routerLink="/book/add/0"><i style="color: white;" class="fa fa-plus"></i></button> &nbsp;
        </div>
      </div>
    </div>
    <br>
    <div class="table table-responsive" style="padding: 0px 10px 0px 10px !important;">
      <table class="table table-bordered" style="border: thin #D8263B;">
        <thead>
          <tr>
            <th>#</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody *ngIf="books && books.length > 0">
          <tr *ngFor="let book of getPaginatedBooks(); let i = index">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td><a routerLink="/book/details/{{book._id}}">{{ book.name }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.price | currency: "INR" }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="books && books.length == 0">
          <tr>
            <td colspan="5" style="text-align: center;">No data found.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12" *ngIf=" books && books.length != 0">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
          <a class="page-link pagination-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>