<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6" style="padding: 30px 30px 0px 30px !important;">
        <mat-card-header>
          <mat-card-title style="font-size: 25px;">
            Book Details
          </mat-card-title>
        </mat-card-header>
      </div>
      <div class="col-sm-6" style="padding: 30px 10px 0px 10px !important;">
        <div class="float-right" style="text-align: right;">
          <button class="btn btn-primary" style="text-align: right; background-color: #D8263B; border: none;"(click)="deleteBookConfirm()">
          <i style="color: white;" class="fa fa-trash"></i>
        </button> &nbsp;
        <button class="btn btn-primary" style="text-align: right; background-color: #6CE0C5; border: none;" (click)="editBook()">
          <i class="fa fa-edit"></i>
        </button> &nbsp;
          <button type="button" style="background-color: #D8263B; border: none;" class="btn btn-primary" (click)="back()"><i
              style="color: white;" class="fa fa-arrow-left"></i></button> &nbsp;
        </div>
      </div>
    </div>
    <br>
    <div class="table table-responsive" style="padding: 0px 10px 0px 10px !important;">
      <table class="table table-bordered" style="border: thin #D8263B;">
        <tbody>
          <tr>
            <th scope="row">Book Name</th>
            <td>{{ book?.bookName }}</td>
          </tr>
          <tr>
            <th scope="row">Author</th>
            <td>{{ book?.author }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ book?.description }}</td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td>{{ book?.price  | currency: "INR" }}</td>
          </tr>
          <tr>
            <th scope="row">Total Readers</th>
            <td>{{ book?.totalReader }}</td>
          </tr>
          <tr>
            <th scope="row">Book Type</th>
            <td>{{ book?.bookType }}</td>
          </tr>
          <tr>
            <th scope="row">ISBN</th>
            <td>{{ book?.isbn }}</td>
          </tr>
          <tr>
            <th scope="row">Published</th>
            <td>{{ book?.published }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  