<h2 mat-dialog-title class="mat-dialog-title">Delete Confirmation</h2>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button style="background-color: #6CE0C5; border: none;" class="btn btn-primary btn-user btn-block" (click)="onConfirmClick()">Delete</button> &nbsp;
  <button mat-button mat-dialog-close color="warn" style="background-color: #D8263B;" class="btn btn-danger btn-user btn-block" (click)="onCancelClick()">Cancel</button>
</div>
